*{
    margin: 0px;
    padding: 0px;
}

.Container{
    margin: 10px;
    width: 48.5vw;
    height: 98vh;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-image: url('./images.jpeg');
    background-size: cover;
}
td{
    border: 2px solid white;
}